@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.main-hover-button::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  background-color: #00000028 !important;
  transition: 0.3s;
}
.main-hover-button:hover::before{
  width: 100%;
}

:root{
  --mainColor: #FF1616;
  --secondTextColor: #232F55;
}